@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
}

body {
    font-size: clamp(1rem, 1vw, 4rem);
    font-family: var(--primary-font);
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --primary-font: "Inter", sans-serif;
    --primary-color: #265F78;
    --primary-color--900: #153542;
    --secundary-color: #46B0DE;
    --colorhot: #FF0000;
    --colorcold: #696BB4;
    --degrade: linear-gradient(45deg, #265f78 0%, #46B0DE 100%);
    --colorgray: #ddd;
    --colorgraylight: #eeeeee;
    --colorgraydark: #999;
    --colorblack: #000000;
    --colorwhite: #FFF;
}

.l-logincontainer {
    display: grid;
    place-items: center;
    height: 100vh;
}

.l-dashcontainer {
    max-height: 100vh;

    @media (min-width: 640px) {
        display: grid;
        grid-template-columns: 320px 1fr;
        /* align-items: center; */
    }
}

.c-dashlogo {
    &>img {
        display: block;
        margin: 0 auto;
    }
}

.l-login {
    display: grid;
    grid-template-columns: 1fr;

    @media (min-width: 640px) {
        width: 70%;
        margin: 0 auto;
        grid-template-columns: 1fr 1fr;
    }
}

.c-banner {
    display: none;
    background-image: url('../images/login-bg.png');
    max-height: 860px;
    max-width: 800px;
    border-radius: 50px;
    padding: 44px;
    box-shadow: -15px 15px 20px #00000050,
        15px 15px 15px #ffffff80;


    & .c-banner__title {
        color: var(--colorwhite);
        font-size: 4rem;
        font-weight: bolder;
        line-height: 4rem;
        background: linear-gradient(white, white) no-repeat;
        background-size: 30% 0.2rem;
        background-position: 0 100%;
        padding-bottom: 1.6rem;
        margin-bottom: 24px;
    }

    @media (min-width: 640px) {
        display: flex;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
    }

    & .c-banner__text {
        color: var(--colorwhite);
        font-weight: lighter;
    }
}

.c-login {

    @media (min-width: 640px) {
        display: grid;
        align-items: center;
    }

    & .c-login__logo {
        &>img {
            width: 100dvw;
        }

        @media (min-width: 640px) {
            display: none;
        }
    }

    & .c-login__box {
        display: grid;
        gap: 32px;
        padding: 30px;
        background: var(--degrade);
        border-radius: 20px;

        @media (min-width: 640px) {
            background: unset;
        }
    }

    & .c-login__title {
        color: var(--colorwhite);
        text-transform: uppercase;
        font-weight: bolder;
        letter-spacing: 0.2rem;
        text-align: center;

        @media (min-width: 640px) {
            color: var(--colorblack);
        }
    }

    & .c-login__text {
        text-align: center;
        color: var(--colorwhite);

        @media (min-width: 640px) {
            color: var(--colorblack);
        }
    }
}

.c-dashboar__form {
    padding: 16px;

    @media (min-width: 640px) {
        padding: 16px 0 0 0;
    }
}

.c-form {
    display: grid;
    gap: 16px;

    & .c-form__group {
        display: grid;
        gap: 8px;

        &>span {
            color: var(--colorblack);
            font-weight: lighter;
            text-align: center;
            text-transform: capitalize;

            @media (min-width: 640px) {
                text-align: left;
            }
        }

        &>input {
            width: 100%;
            padding: 1rem;
            border-radius: 8px;
            border: 1px solid var(--primary-color);
            background-color: var(--colorgray);
            text-align: center;
            color: var(--colorblack);

            @media (min-width: 640px) {
                text-align: left;
                border: 1px solid var(--secundary-color);
            }
        }

        &>select {
            width: 100%;
            padding: 1rem;
            border-radius: 8px;
            border: 1px solid var(--primary-color);
            background-color: var(--colorgray);
            text-align: center;
            color: var(--colorblack);

            @media (min-width: 640px) {
                text-align: left;
                border: 1px solid var(--secundary-color);
            }
        }
    }

    & .c-form__group--login {
        &>span {
            color: var(--colorwhite);
        }
    }

    & .c-form__group--register {

        &>span {
            text-align: left;
            color: var(--colorblack);
        }

        &>input {
            text-align: left;
        }

        &>select {
            text-align: left;
        }
    }

    & .l-form__group--mark {
        display: grid;
        grid-template-columns: 24px 1fr;
    }

    & .c-form__group--mark {
        & > span {
            text-align: left;
        }
    }

    & textarea {
        display: inline-block;
        background-color: var(--colorgray);
        padding: .4rem;
        border-radius: 8px;
        border: 1px solid var(--primary-color);
        width: 100%;
        min-height: 10rem;
    }

    & .c-form__button {
        padding: 1rem;
        border-radius: 8px;
        color: var(--colorwhite);
        text-transform: uppercase;
        font-weight: bolder;
        letter-spacing: 0.2rem;
        background-color: var(--primary-color);
    }

    & .c-form__button--mini {
        @media (min-width: 640px) {
            width: fit-content;
            margin: 0 0 0 auto;
            padding-left: 4rem;
            padding-right: 4rem;
        }
    }
}

.l-formregister {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;

    @media (min-width: 640px) {
        padding: 0;
        grid-template-columns: 1fr 1fr;
    }
}

.c-menu {
    position: relative;
    background: var(--degrade);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);

    & .c-menu__links {
        display: block;
        max-height: 0;
        overflow: hidden;
        background-color: var(--primary-color);
        box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.3);
        transition: all .3s ease-in-out;

        & a {
            display: inline-block;
            padding-left: 3rem;
            width: 100%;
            line-height: 48px;
            text-decoration: none;
            color: var(--colorwhite);

            @media (min-width: 640px) {
                padding-left: 1rem;
                color: var(--primary-color);
            }
        }

        & span {
            display: inline-block;
            padding-left: 1rem;
        }

        &>ul {
            list-style: none;
        }

        &>ul>li {
            border-bottom: 1px solid var(--colorblack);

            &>input {
                display: none;
            }

            &>input[type="checkbox"]:checked+ul {
                max-height: 1000px;
            }
        }

        &>ul>li:last-of-type {
            border-bottom: unset;
        }

        &>ul>li>ul {
            list-style: none;
        }

        &>ul>li>ul>li {
            background-color: var(--primary-color--900);
            border-top: 1px solid var(--primary-color);
        }

        &>ul>li>ul {
            max-height: 0;
            overflow: hidden;
            transition: all .3s ease-in-out;
        }


        &>ul>li>ul a {
            display: inline-block;
            width: 100%;
            padding-left: 6rem;

            @media (min-width: 640px) {
                padding-left: 3rem;
                color: var(--colorwhite);
            }
        }

        @media (min-width: 640px) {
            max-height: 1000px;
            background-color: unset;
            box-shadow: unset;
        }
    }

    .c-menu__expansive {
        display: grid;
        grid-template-columns: 1fr 96px;
        place-items: center;
        align-items: center;
        color: var(--colorwhite);

        @media (min-width: 640px) {
            grid-template-columns: 1fr 48px;
            color: var(--primary-color);
        }
    }

    &>input[type="checkbox"] {
        display: none;
    }

    &>input[type="checkbox"]:checked~.c-menu__links {
        display: block;
        max-height: 1000px;
    }

    .c-dashlogo {
        display: none;

        @media (min-width: 640px) {
            display: block;
        }
    }

    & .c-menuheader {
        display: grid;
        grid-template-columns: 48px 1fr 48px;
        color: var(--colorwhite);
        text-align: center;

        & .c-menu__back {
            padding-top: 48px;
            line-height: 48px;
        }

        & .c-menu__title {
            font-size: 0.6rem;
            letter-spacing: 0.2rem;
            text-transform: uppercase;
            padding-top: 48px;
            line-height: 48px;
        }

        & .c-menu__sandwich {
            padding-top: 48px;
            line-height: 48px;
        }

        @media (min-width: 640px) {
            display: none;
        }
    }

    @media (min-width: 640px) {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        background: unset;
        box-shadow: unset;
    }
}

.c-dashboard {
    position: relative;

    & .c-dashboard__title {
        display: none;
        text-align: right;
        text-transform: uppercase;
        line-height: 48px;
        letter-spacing: .4rem;
        border-bottom: .2rem solid var(--colorblack);

        @media (min-width: 640px) {
            display: block;
        }
    }

    & .c-dashboard__search {
        display: grid;
        grid-template-columns: 1fr 2.5rem;
        gap: 16px;
        padding: 3rem;

        & input {
            width: 100%;
            background-color: var(--colorgraylight);
            padding: .5rem 0;
            padding-left: 1rem;
        }

        & span {
            padding: .5rem .6rem;
            border-radius: 8px;
            background-color: var(--primary-color);
            color: var(--colorwhite);
        }

        @media (min-width: 640px) {
            padding: .5rem 0;
        }
    }

    @media (min-width: 640px) {
        height: fit-content;
        width: 90%;
        border-radius: 40px;
        padding: 48px;
        box-shadow: 15px 15px 20px #00000050,
            15px 15px 15px #ffffff80;
    }

    @media (min-width: 640px) {
        margin: 3rem 0 0 0;
    }
}

.l-cardcontainer {
    display: flex;
    gap: 16px;
    padding-bottom: 16px;
}

.l-dashboard__stage {
    padding: 24px;

    @media (min-width: 640px) {
        padding: 24px 0;
    }
}

.c-card {
    background: var(--degrade);
    border-radius: 16px;
    padding: 24px;

    & .c-card__text {
        display: block;
        padding: 0.2rem 0.6rem;
        border-radius: 1rem;
        background-color: var(--colorwhite);
        font-size: .5rem;
        text-transform: uppercase;

        &>span {
            color: var(--colorhot);
        }
    }

    & .c-card__title {
        font-weight: lighter;
        text-transform: capitalize;
        color: var(--colorwhite);
    }

    & .c-card__number {
        font-size: 2rem;
        line-height: 2.6rem;
        font-weight: bolder;
        color: var(--colorwhite);
    }
}

.c-cardgraph {
    padding-bottom: 16px;

    & .c-cardgraph__header {
        background: var(--degrade);
        border-radius: 16px 16px 0 0;
        padding: 8px 0 8px 24px;
    }

    & .c-cardgraph__title {
        font-size: 0.8rem;
        font-weight: lighter;
        text-transform: capitalize;
        color: var(--colorwhite);
    }

    & .c-cardgraph__number {
        font-size: 2rem;
        line-height: 2.6rem;
        font-weight: bolder;
        color: var(--colorwhite);
    }

    & .c-cardgraph__stage {
        border-radius: 0 0 16px 16px;
        background-color: var(--colorgray);
        border: 1px solid var(--primary-color);
    }
}

.c-table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    border-spacing: 0;



    &>thead th:first-child {
        padding-left: 1rem;
        text-align: left;
    }

    &>thead th:last-child {
        text-align: center;
    }

    &>tbody>tr>td:first-child {
        padding-left: 1rem;
    }

    &>tbody>tr>td:last-child {
        text-align: center;

        &>i:first-child {
            color: var(--colorcold);
        }

        &>i:last-child {
            color: var(--colorhot);
        }
    }

    &>thead>tr th {
        text-transform: capitalize;
        font-weight: bold;
        padding: .5rem 0;
        color: var(--colorgraydark);
    }

    &>tbody td {
        font-weight: lighter;
        padding: .5rem 0;
    }

    &>tbody tr {
        background-color: var(--colorgray);

        &:nth-of-type(odd) {
            background-color: var(--colorgraylight);
        }
    }
}