@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --primary-font: "Inter", sans-serif;
    --primary-color: #265F78;
    --secundary-color: #46B0DE;
    --degrade: linear-gradient(45deg, rgba(38,95,120,1) 0%, rgba(38,95,120,1) 100%);
    --colorgray: #F3F3F3;
    --colorblack: #000000;
    --colorwhite: #FFF;
}

.l-login {
    display: grid;
    grid-template-columns: 1fr;
    @media (min-width: 640px) {
        grid-template-columns: 1fr 1fr;
    }
}

.c-login {
    & .c-login__logo {
        & > img {
            width: 100%;
        }
        @media (min-width: 640px) {
            display: none;
        }
    }

    & .c-login__box {
        background: var(--degrade);
        border-radius: 20px;
        padding: 30px;
        @media (min-width: 640px) {
            background: unset;
        }
    }
}